@import "https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap";

@import "https://fonts.googleapis.com/css?family=Georgia:100,200,300,regular,500,600,700,800,900&display=swap";

* {
    font-family: "Georgia";
    font-style: normal;
    line-height: normal;

    &::before {
        padding: 0;
        margin: 0;
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        border: none;
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    &::after {
        padding: 0;
        margin: 0;
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        border: none;
        box-sizing: inherit;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    line-height: normal;
    position: relative;
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    outline: none;
}

input {
    outline: none;
}

html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Georgia";
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Georgia";
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: $mainBlue;
    overflow-x: hidden;
}