@import "../../app/styles/starter";

.wrapper {
    overflow: hidden;

    .container {
        margin-top: 155px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        max-height: 100vh;
        overflow-y: auto;

        .title {
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            color: #444444;

        }

        .link {
            margin: 5px auto 0 auto;
            font-family: Georgia;
            font-size: 18px;
            font-weight: 400;
            line-height: 20.45px;
            text-align: center;
            text-decoration: underline;
            color: $mainBlue;

        }
    }
}