@import "../../app/styles/starter";

.main {
    flex: 1 1 auto;
    margin-top: 8px;
    width: 100%;

    height: auto;

    .container {
        padding: 0 20px;

        .bg {
            width: calc(100% + 50px);
            margin: 0 -20px;
            max-height: clamp(365px, 48.542vw, 932px);
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-image: url('/images/bgimage.png');
        }

        .body {
            max-width: 1360px;
            width: 100%;
            height: auto;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            position: relative;

            .mainleftblock {
                margin-top: 11.667vw;

                h1 {
                    max-width: 600px;
                    width: 100%;
                    font-family: Georgia;
                    font-size: 4.688vw;
                    font-weight: 400;
                    text-align: center;
                }

                .caption {
                    display: flex;
                    justify-content: space-between;
                    max-width: 555px;
                    width: 100%;

                    &::before {
                        content: '';
                        display: block;
                        // position: absolute;
                        width: 30px;
                        height: 2px;
                        align-self: center;
                        background-color: $mainBlue;
                        // margin-right: 10px;
                    }

                    p {
                        max-width: 495px;
                        width: 100%;

                        font-size: clamp(12px, 1.042vw, 20px);
                        align-items: center;

                    }

                }

                .mainblockbtns {
                    margin-top: 60px;
                    display: flex;
                    justify-content: center;

                    .register_btn {
                        max-width: 480px;
                        width: 100%;
                        height: 120px;
                        @include gradientButton;
                        font-weight: 500;

                        box-shadow: 0px 4px 4px 0px #00000040;
                    }
                }
            }

            .rightsideimage {
                max-width: clamp(255px, 35.938vw, 690px);
                min-height: 365px;
                height: auto;

                img {
                    max-width: clamp(255px, 35.938vw, 690px);
                    min-height: 365px;
                    height: auto;
                    display: block;
                }
            }

            .register_btn_small {
                display: none;
                position: absolute;
                left: 50%;
                top: 80%;
                transform: translateX(-50%);
                margin: 0 auto;
                width: 247px;
                height: 44px;
                @include gradientButton;
                font-size: 14px;
                font-weight: 500;
            }

            @media (max-width: 1024px) {
                .register_btn {
                    display: none;
                }

                .register_btn_small {
                    display: block;
                }

            }
        }

        .forwhoblock {
            max-width: 1320px;
            width: 100%;
            margin: 0 auto;
            @include block;

            .forwhoblock__label {
                max-width: 284px;
                @include label;
            }

            .gridtable {
                margin-top: 60px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                gap: 3.125vw;

                &__item {
                    position: relative;
                    max-width: 100%;
                    height: auto;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }



                    .content__overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        padding: 20px;
                        box-sizing: border-box;
                        text-align: center;

                        h3 {
                            position: relative;
                            font-family: Georgia;
                            font-size: 32px;
                            font-weight: 400;
                            text-transform: uppercase;
                        }

                        p {
                            margin-top: 15px;
                        }
                    }

                }

                @media (max-width: 800px) {
                    grid-template-columns: repeat(1, 1fr);
                    grid-template-rows: auto;

                    &__item {
                        width: 100%;
                        height: 149px;
                        border-radius: 15px;
                        background: linear-gradient(100.56deg, #A4BFD9 0%, #99D0D3 100%);

                        img {
                            display: none;

                        }
                    }
                }
            }
        }

        .programblock {
            width: 100%;
            @include block;
            position: relative;
            background-color: #D6DFE8FE;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                width: 123%;
                height: 100%;
                background-color: #D6DFE8FE;

                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                z-index: -1;
            }

            .label {
                max-width: 315px;
                z-index: 1;
                @include label;
            }

            .program {
                margin-top: 66px;
                display: flex;
                justify-content: center;
                gap: 1.563vw;

                @media (max-width: 1024px) {
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 30px;
                }

                .progbtns {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 1.563vw;

                    @media (max-width: 1024px) {
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: auto;
                        gap: 40px;
                    }

                    @media (max-width: 550px) {
                        gap: 10px;
                    }

                    .programbtn {
                        width: 100%;
                        height: 170px;
                        max-width: 240px;
                        max-height: 170px;
                        min-width: 70px;
                        padding: 0 24px;
                        font-family: Georgia;
                        font-size: clamp(16px, 1.563vw, 30px);
                        border-radius: 25px;
                        border: 1px solid $lighBlue;
                        background-color: transparent;
                        box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
                        transition: all 0.5s ease;

                        &:hover {
                            background-color: $lighBlue;
                        }

                        &.active {
                            background-color: $lighBlue;
                        }

                        @media (max-width: 550px) {
                            width: 100%;
                            height: 70px;
                            max-width: 100%;
                            padding: 0;
                        }
                    }
                }



                .programwindow {
                    max-width: 780px;
                    width: 100%;
                    height: 570px;
                    border-radius: 25px;
                    background-color: $lighBlue;
                    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);

                    @media (max-width: 550px) {
                        height: 236px;
                    }

                    &__info {
                        padding: 51px 60px;
                        display: none;

                        &.active {
                            display: block;
                        }

                        h2 {
                            text-align: center;
                            font-family: Georgia;
                            font-size: clamp(20px, 1.563vw, 30px);
                            font-weight: 400;
                        }

                        p {
                            margin-top: 15px;
                            font-size: clamp(18px, 1.25vw, 24px);
                        }

                    }
                }

                // @media (max-width: 768px) {
                //     .progbtns {
                //         grid-template-columns: 1fr;
                //         gap: 1.875rem;
                //     }
                // }
            }


            @media (max-width: 550px) {
                padding-bottom: 45px;
            }
        }


        .questionblock {
            @include block;
            max-width: 1320px;
            width: 100%;
            margin: 0 auto;

            .questionblockContainer {
                padding: 0 20px;

                .questionblockLabel {
                    @include label;
                }


                .questbtns {
                    margin-top: 30px;
                    display: flex;
                    justify-content: center;
                    max-width: 758px;
                    width: 100%;
                    margin: 30px auto 0 auto;

                    button {
                        // width: 100%;
                        height: 74px;
                        font-size: 36px;
                        padding: 0 30px;
                        border: 1px solid $lighBlue;
                        transition: all 0.5s ease;

                        @media (max-width: 840px) {
                            padding: 0 20px;
                            font-size: 28px;
                        }

                        @media (max-width: 550px) {
                            height: 52px;
                            font-size: 18px;
                        }

                    }

                    .consultbtn {
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;

                        &:hover {
                            // box-shadow: -10px 12px 20px rgba(153, 208, 211, 0.8);
                            background-color: $lighBlue;
                        }

                        &.active {
                            background-color: $lighBlue;
                        }
                    }

                    .manualtherapybtn {
                        margin-left: 0;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        border-left: none !important;

                        &:hover {
                            // box-shadow: -10px 12px 20px rgba(153, 208, 211, 0.8);
                            background-color: #99D0D3;
                        }

                        &.active {
                            background-color: #99D0D3;
                        }
                    }
                }

                .questionlist {
                    margin: 60px auto 0 auto;

                    @media (max-width: 550px) {
                        margin: 20px auto 0 auto;
                    }

                    .question {
                        max-width: 1320px;
                        width: 100%;
                        height: auto;
                        padding: 14px 15px;
                        border-radius: 15px;
                        list-style: disc;
                        position: relative;
                        overflow: hidden;
                        transition: max-height 0.5s ease;
                        cursor: pointer;
                        max-height: 2.8em;

                        &.consultation {
                            background-color: $lighBlue;
                        }

                        &.manual-therapy {
                            background-color: #99D0D3;
                        }

                        &:not(:first-child) {
                            margin-top: 31px;
                        }

                        .extraText {
                            display: block;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                        }

                        &.expanded {
                            .extraText {
                                opacity: 1;
                            }

                            max-height: 100em;
                        }

                        &.hidden {
                            display: none;
                        }
                    }
                }
            }


        }

        .feedbacksblock {
            width: 100%;
            @include block;
            position: relative;
            background-color: #D6DFE8FE;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;


            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                width: 123%;
                height: 100%;
                background-color: #D6DFE8FE;
                // background-image: url("../images/Rectangle 80.png");
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                z-index: -1;
            }

            &__label {
                max-width: 219px;
                @include label;
            }
        }

        .rateblock {
            @include block;

            .label {
                @include label;
            }

            .rates {
                margin: 60px auto;
                max-width: 1320px;
                display: flex;
                gap: 30px;
                flex-wrap: wrap;


                .rate {
                    max-width: 420px;
                    min-height: 412px;
                    height: 29.167vw;
                    padding: 60px 30px;
                    display: flex;
                    // justify-content: space-between;
                    flex-direction: column;
                    border-radius: 25px;
                    background: linear-gradient(to right, $lighBlue, #99D0D3);
                    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);

                    .label {

                        font-size: 40px;
                        font-weight: 400;
                        text-align: center;
                        color: $mainBlue;
                    }

                    .container {
                        margin-top: 45px;

                        .rateList {
                            .rateItem {

                                font-size: 18px;
                                font-weight: 500;
                                list-style: disc;

                            }
                        }
                    }

                    .priceContainer {
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 38.73px;
                        text-align: right;
                        margin-top: auto;

                        .oldprice {

                            color: #EEEEEE;
                            text-decoration: line-through;
                        }

                        .newprice {
                            margin-right: 31px;

                            color: $mainBlue;
                        }
                    }
                }
            }

            .contactbtnContainer {
                display: flex;
                justify-content: center;

                .contactsBtn {
                    max-width: 480px;
                    width: 100%;

                    height: clamp(46px, 3.958vw, 76px);
                    border-radius: 15px;

                    font-size: 32px;
                    background-color: #D6DFE8;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }




    }
}