@import "../../app/styles/starter";

.infoblock {
    max-width: 786px;
    width: 100%;
    padding: 0 20px 0 144px;

    >div {
        display: none;

        &.active {
            display: block;
        }
    }

    .input_group {
        max-width: 570px;
        width: 100%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        label {
            color: $mainBlue;
            font-family: Georgia;
            font-size: 24px;
            font-weight: 400;
            text-align: left;
        }

        input,
        select {
            border-radius: 10px;
            height: 45px;
            padding-left: 30px;
            outline: none;
            color: #000000;
            font-size: 18px;
            border: 1px solid $mainBlue;
            box-shadow: 0px 4px 4px 0px #00000040;
        }
    }

    .profilechangeform {
        max-width: 630px;
        width: 100%;

        &__photochange {
            display: flex;
            justify-content: space-between;
            max-width: 570px;
            width: 100%;
            height: 90px;
            margin-top: 30px;
            ;
            padding: 0 30px;
            align-items: center;
            border-radius: 10px;
            border: 1px solid $mainBlue;
            box-shadow: 0px 4px 4px 0px #00000040;

            .photochange_leftblock {
                display: flex;
                gap: 15px;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 1px solid linear-gradient(135deg, #A4BFD9 0%, #99D0D3 100%);
                }

                .photochange_info {
                    .user_name {
                        font-family: Georgia;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 27.27px;
                        text-align: left;
                        color: #000000;

                    }

                    .user_type {
                        margin-top: 6px;
                        font-size: 18px;
                        font-family: Georgia;
                        font-weight: 400;
                        line-height: 20.45px;
                        text-align: left;
                        color: $mainBlue;
                    }
                }
            }

            .photochange_input {
                display: inline-block;

                .photo_change_button {
                    margin: 4px 2px;
                    width: 117px;
                    height: 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-family: Georgia;
                    font-size: 14px;
                    border: none;
                    border-radius: 5px;
                    color: #F1F5F9;
                    background-color: $mainBlue;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid $mainBlue;
                        color: $mainBlue;
                        background-color: transparent;
                    }

                }
            }
        }
    }

    .notificationsblock {}

    .supportchat {
        max-width: 779px;
        width: 100%;

        .supporttopblock {
            display: flex;
            justify-content: space-between;

            &__complainbtn {
                max-width: 210px;
                width: 100%;
                height: 36px;
                border-radius: 5px;
                border: 1px solid $mainBlue;
                transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0px 4px 4px 0px #00000040;

                &:hover {
                    color: #F1F5F9;
                    background-color: $mainBlue;
                    box-shadow: 0px 4px 4px 0px $mainBlue;
                }
            }
        }




    }

    .propositionsBlock {
        .propositionsTopblock {
            
        }
    }


}

.infoblock--support {
    padding: 0;

}