@import "../../../app/styles/starter";

.trips {
    @include block;

    .label {
        @include label;
    }

    .tripbody {
        max-width: 1360px;
        width: 100%;
        margin: 75px auto 0 auto;
        padding: 0 20px;

        .tripwindow {
            .tripinfo {
                display: none;

                &.active {
                    display: flex;
                    justify-content: space-between;

                    img {
                        max-width: 690px;
                        width: 100%;
                        height: 607px;
                    }
                }
            }

            .infoContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    font-family: Inter;
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 58.09px;
                    text-align: center;
                }

                p {
                    margin-top: 30px;
                    max-width: 570px;
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 29.05px;
                    text-align: justify;
                }

                .infoBtn {
                    display: flex;
                    justify-content: center;

                    .booktripbtn {
                        @include gradientButton;
                        margin-top: 60px;
                        max-width: 480px;
                        width: 100%;
                        height: 76px;
                        border-radius: 15px;
                    }
                }


            }
        }

        .tripbuttons {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            .tripBtn {
                cursor: pointer;

                img {
                    width: 420px;
                    height: 390px;
                }
            }
        }
    }
}