@import '../../../styles/vars';


.main {
    margin-top: 80px;

    @media screen and (max-width: 1220px) {
        margin-top: 40px;
    }

    .container {
        padding: 0 20px;

        .body {
            max-width: 1440px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            gap: 20px;

            .slider {
                max-width: 490px;
                width: 100%;
                margin: 0 auto;

            }

            .productInfo {
                max-width: 890px;
                width: 100%;
                height: 100%;
                border: 1px solid $borderColor;


                @media screen and (max-width: 1100px) {
                    max-width: 1110px;
                    // height: 560px;
                    margin-bottom: 20px;
                }

                .nameSection {
                    padding: 40px;
                    border-bottom: 1px solid $borderColor;

                    .name {
                        font-size: 24px;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $mainBlack;

                        span {
                            color: $goldColor;
                        }
                    }

                    .characteristics {
                        margin-top: 5px;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                        color: $lightGray;
                    }

                    .rating {
                        max-width: 180px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            padding-top: 5px;
                            font-size: 14px;
                            font-weight: 500;
                            color: $mainBlack;
                        }
                    }
                }

                .priceSection {
                    display: flex;
                    justify-content: space-between;
                    padding: 40px;
                    border-bottom: 1px solid $borderColor;

                    .priceBlock {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        .oldprice {
                            font-size: 32px;
                            font-weight: 300;
                            color: $lightGray;
                            text-decoration: line-through;
                            line-height: 28px;
                        }

                        .price {
                            font-size: 64px;
                            font-weight: 300;
                            line-height: 50px;
                            color: $goldColor;
                        }

                    }

                    .buttonsBlock {
                        max-width: 395px;
                        width: 100%;


                        button {
                            max-width: 395px;
                            width: 100%;
                            height: 40px;
                            border: 1px solid rgba(68, 68, 68, 0.4);
                            font-size: 16px;
                        }

                        .addToBagBtn {
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                            align-items: center;
                            color: $mainBlack;


                            &:hover {
                                color: $borderColor;
                                background-color: $mainBlack;

                                img {
                                    content: none;
                                    content: '';
                                    width: 16px;
                                    height: 16px;
                                    background-image: url('/icons/cart\ white.svg');
                                    background-repeat: no-repeat;
                                }
                            }
                        }



                        .paymentsMethods {
                            margin-top: 16px;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            gap: 10px;

                            p {
                                font-size: 18px;
                                font-weight: 500;
                                color: $goldColor;
                            }

                            .methodsIcons {
                                display: flex;
                                gap: 13px;
                            }
                        }

                        @media screen and (max-width: 604px) {
                            .buttonsContainer {
                                flex-direction: column;
                            }

                            // .paymentsMethods {
                            //     display: none;
                            // }
                        }
                    }
                }

                .stickyPriceSection {
                    display: flex;
                    justify-content: space-between;
                    gap: 10px;
                    padding: 20px;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: #fff;
                    border-top: 1px solid $borderColor;
                    z-index: 846;

                    &.hidden {
                        display: none;
                    }

                    .priceBlock {
                        // display: flex;
                        // flex-direction: column;
                        width: 100%;

                        .oldprice {
                            font-size: 25px;
                            font-weight: 300;
                            text-align: left;
                            color: $lightGray;
                            text-decoration: line-through;
                        }

                        .price {
                            font-size: 35px;
                            font-weight: 300;
                            color: $goldColor;
                            line-height: 15px;
                        }

                    }

                    .buttonsBlock {
                        // max-width: 340px;
                        max-width: 250px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;

                        button {
                            max-width: 250px;
                            width: 100%;
                            height: 40px;
                            border-radius: 10px;
                            border: 1px solid rgba(68, 68, 68, 0.4);
                            font-size: 18px;
                        }

                        .addToBagBtn {
                            display: flex;
                            justify-content: center;
                            gap: 10px;
                            align-items: center;
                            color: $mainBlack;

                            img {
                                display: none;
                            }

                            &:hover {
                                color: $borderColor;
                                background-color: $mainBlack;
                            }
                        }
                    }
                }

                .sellerSection {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 40px;
                    border-bottom: 1px solid $borderColor;


                    p {
                        font-size: 24px;
                        color: $mainBlack;

                        span {
                            color: $goldColor;
                        }
                    }
                }

                .additionalInfoSection {
                    display: grid;
                    height: 106px;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 400;
                    color: $mainBlack;


                    &> :first-child {
                        border-right: 1px solid $borderColor;
                        padding-right: 70px;
                    }

                    span {
                        color: $goldColor;
                    }

                    .delivery {
                        height: 106px;
                        display: flex;
                        padding-left: 40px;
                        align-items: center;

                        &::before {
                            content: url("/icons/deliverycar.svg");
                            display: inline-block;
                            width: 37px;
                            height: 25px;
                            margin: -3px 20px 0 0;
                            vertical-align: middle;
                        }


                    }

                    .payment {
                        height: 106px;
                        display: flex;
                        margin-left: 40px;
                        align-items: center;

                        &::before {
                            content: url("/icons/card.svg");
                            display: inline-block;
                            width: 38px;
                            height: 25px;
                            margin: -3px 20px 0 0;
                            vertical-align: middle;
                        }
                    }

                    @media screen and (max-width: 600px) {
                        height: 100%;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(2, 1fr);

                        .delivery {
                            border-right: none;
                            border-bottom: 1px solid $borderColor;
                        }
                    }

                }
            }
        }
    }
}


@media screen and (max-width: 1100px) {
    .body {
        flex-wrap: wrap;

        .slider {
            max-width: 1100px !important;
        }
    }

    .stickyPriceSection {
        display: flex;
    }
}

@media screen and (min-width: 1101px) {
    .stickyPriceSection {
        display: none !important;
    }
}