@import '../../styles/vars';

.container {
    max-width: 1076px;
    width: 100%;
    margin: 154px auto 20px auto;
    padding: 0 20px;

    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        color: $mainBlack;
    }

    a {
        width: 208px;
        height: 21px;
        color: $goldColor;
        display: block;

        margin: 10px auto 0 auto;
        font-size: 17px;

        &:hover {
            color: #b37e2d;
        }
    }
}