/* PhoneInputMask.module.scss */
.phoneInput {
    margin: 10px 0;

    .PhoneInput {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }

    .PhoneInputInput {
        border: none;
        outline: none;
        font-size: 16px;
        width: 100%;
    }
}


.customSelect {
    position: relative;
    width: 200px;

    .selectedOption {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow {
        margin-left: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #333;
    }

    .options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .option {
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #f1f1f1;
        }
    }
}