@import "../../app/styles/starter";


.form {
    max-width: 1036px;
    width: 100%;
    height: auto;
    margin: 40px auto 0 auto;
    overflow: hidden;

    .formContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 60px;
        margin-top: 30px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
        }

        .inputGroup {

            input {
                max-width: 500px;
            }
        }
    }

    button {
        display: block;
        margin: 15px auto;
        max-width: 273px;
        width: 100%;
        height: 53px;
        border-radius: 5px;
        border: 1px solid $mainBlue;
        color: $mainBlue;
        font-size: 24px;
        font-weight: 400;
        line-height: 27.27px;
        text-align: center;


        &:hover {
            color: #fff;
            background-color: $mainBlue;
            transition: all 0.3s ease-out;
        }
    }

}