@import "../../app/styles/starter";

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 529px;
    background: linear-gradient(to right, $lighBlue, #99D0D3);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .container {
        padding: 75px 20px;

        .body {
            max-width: 1022px;
            width: 100%;
            margin: 0 auto;

            .label {
                font-family: Inter;
                font-size: 36px;
                font-weight: 400;
                line-height: 43.57px;
                text-align: center;
            }

            .mainblock {
                max-width: 922px;
                display: flex;
                justify-content: space-between;
                margin-top: 32px;

                img {}

                .list–°ontainer {
                    max-width: 633px;
                    padding-top: 33px;

                    .list {
                        margin-left: 30px;

                        .listItem {
                            font-family: Inter;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 29.05px;
                            text-align: left;
                            list-style: disc;
                        }
                    }
                }
            }

            .contacts {
                margin-top: 44px;
                display: flex;
                justify-content: space-between;

                .contacts_group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    color: inherit;
                    text-decoration: none;
                    cursor: pointer;

                    p {
                        font-family: Inter;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 21.78px;
                        text-align: left;

                    }
                }
            }
        }
    }
}