@import '../../../../styles/_vars.scss';

.slider-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    height: 317px;

    .slick-prev,
    .slick-next {
        z-index: 1;
        color: #000;

        &:before {
            font-size: 30px;
        }
    }

    .slideWrapper {
        padding: 0 10px;

        .slide {
            width: 217px;
            height: 317px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            border: 1px solid $borderColor;

            .name {
                margin-top: 9px;
                font-size: 14px;
                font-weight: 400;
            }

            .oldprice {
                margin: auto 0 0 auto;
                font-size: 14px;
                text-decoration: line-through;
            }

            .checkoutBtn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 10px;
                border: 1px solid $goldColor;

                .checkoutLabel {
                    text-transform: uppercase;
                    color: $mainBlack;
                    font-size: 12px;
                    font-weight: 300;
                }

                .price {
                    padding: 0 10px;
                    font-size: 18px;
                    color: #FEFFFF;
                    background-color: $goldColor;
                }

                &:hover {
                    background-color: $mainBlack;
                    border: 1px solid $lightGray;

                    img {
                        content: none;
                        content: '';
                        background-image: url('/icons/item-cartwht.svg');
                    }

                    .checkoutLabel {
                        color: #FEFFFF;
                    }

                    .price {
                        background-color: $lightGray;
                    }
                }
            }
        }
    }
}