@import "../../app/styles/starter";


.form {
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 40px auto 0 auto;


    .formContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        // grid-row-gap: 30px;
        grid-column-gap: 60px;
        margin-top: 30px;

        input {
            max-width: 700px;
        }
    }

    button {
        display: block;
        margin: 15px auto;
        max-width: 273px;
        width: 100%;
        height: 53px;
        border-radius: 5px;
        border: 1px solid $mainBlue;
        color: $mainBlue;
        font-size: 24px;
        font-weight: 400;
        line-height: 27.27px;
        text-align: center;


        &:hover {
            color: #fff;
            background-color: $mainBlue;
            transition: all 0.3s ease-out;
        }
    }

}