@import "../../app/styles/starter";

.container {
    height: 61px;

    .googleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid #e5e7eb;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1.5rem;
        
        font-size: 1rem;
        font-weight: 500;
        color: #1f2937;
        outline: none;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: #e5e7eb;
        }

        // &:focus {
        //     outline: none;
        //     box-shadow: 0 0 0 2px rgba(107, 114, 128, 0.5);
        // }

        &.dark {
            background-color: #1f2937;
            color: #ffffff;
        }

        span {
            text-align: center;
        }

        .google-icon {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.5rem;
        }
    }
}