@import "../../app/styles/starter";


.main {
    margin-top: 12px;

    .container {
        padding: 0 20px;

        .mainBlock {
            max-width: 1097px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .actionBlock {
                padding-right: 40px;

                .priceBlock {
                    margin-top: 25px;

                    .priceContainer {
                        max-width: 188px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .price {
                            font-size: 24px;
                            color: $orange;

                        }

                        .oldprice {
                            font-size: 14px;
                            font-weight: 300;
                            color: $darkGray;
                            text-decoration: line-through;
                        }
                    }

                    .discountTimer {
                        max-width: 320px;
                        width: 100%;
                        height: 30px;
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 14px;
                        border-radius: 5px;
                        border: 1px solid $orange;
                        color: $orange;

                        span {
                            color: #000000;

                        }
                    }
                }

                .packsBlock {
                    margin-top: 17px;

                    h3 {
                        font-family: Georgia;
                        font-size: 24px;
                        font-weight: 400;
                        color: $mainBlue;
                    }

                    .packsContainer {
                        margin-top: 15px;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 15px;
                        /* пространство между кнопками */
                    }

                    button {
                        height: 38px;
                        font-family: Georgia;
                        font-size: 16px;
                        color: #000000;
                        border-radius: 5px;
                        border: 1px solid $mainBlue;

                        &:nth-child(1),
                        &:nth-child(2) {
                            grid-column: span 1;
                        }

                        &:nth-child(3) {
                            grid-column: span 2;
                        }

                        &:hover {
                            background: linear-gradient(to right, #a7f3d0, #99D0D3);
                        }

                        &.active {
                            background: linear-gradient(to right, #a7f3d0, #99D0D3);
                        }

                    }
                }

                .buyButton {
                    margin-top: 25px;
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    background-color: #FF4848;
                    font-family: Georgia;
                    font-size: 18px;
                    color: #FFFFFF;

                    &:hover {
                        background-color: #c93535;
                    }
                }
            }

            .infoBlock {
                h1 {
                    margin-bottom: 45px;
                    font-family: Georgia;
                    font-size: 32px;
                    font-weight: 400;
                    text-align: left;
                }

                .PackInfo {
                    margin-bottom: 37px;

                    &:not(:last-child)::after {
                        content: '';
                        display: block;
                        width: 180px;
                        height: 30px;
                        margin: 37px 92px;
                        background: url('../../../public/icons/orange_arrow.svg') right center no-repeat,
                            url('../../../public/icons/plus.svg') center center no-repeat,
                            url('../../../public/icons/orange_arrow.svg') left center no-repeat;
                        background-size: 20px 30px, 30px 30px, 20px 30px;
                    }

                    h3 {
                        font-family: Georgia;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 27.27px;
                        text-align: left;

                        span {
                            color: $orange;
                        }
                    }

                    .list {
                        margin-top: 20px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .listItem {
                            color: $orange;
                            list-style-type: disc;

                            span {
                                color: $mainBlue;
                            }
                        }
                    }
                }

            }
        }
    }
}